html {
    font: 15pt Arial;
}

form {
    background-color: rgba(255,255,255,.8);
    margin: 200px auto 200px auto;
    padding: 10px;
    width: 550px;
    min-height:300px;
    border: #273747 1px solid;
    border-radius: 20px;
    box-shadow: 4px 4px 4px #273747;
}

#vermelho {
	background-color: red;
    color: white;
    font-weight: bold;
	padding: 6px;
	box-shadow: 1px 1px 1px #aaaaaa;
}

#verde {
	background-color: green;
    color: white;
    font-weight: bold;
	padding: 6px;
	box-shadow: 1px 1px 1px #aaaaaa;
}

#azul {
	background-color: blue;
    color: white;
    font-weight: bold;
	padding: 6px;
	box-shadow: 1px 1px 1px #aaaaaa;
}

#amarelo {
	background-color: yellow;
    color: black;
    font-weight: bold;
	padding: 6px;
	box-shadow: 1px 1px 1px #aaaaaa;
}

